div#right-controls span, div#left-controls span {
    background-color: #389723;
}

div#right-controls span:hover, div#left-controls span:hover {
    background-color: #4BB82E;
}

div#header #slider .ui-slider-range {
    background: #777777;
}

div#header #slider .ui-slider-handle {
    border-color: #ffffff;
    background: #389723;
    outline: none;
    cursor: pointer;
}

div#header #slider .ui-slider-handle:hover {
    background: #4BB82E;
}

div#footer a {
    color: #389723;
}

div#footer a:hover {
    color: #4BB82E;
}